

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1% 2.5%;
}



.header>p{
    padding-top: 10px ;

}

.menu-list{
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}



.logoName{
    font-family: 'Agustina', sans-serif;
    font-size:26px;
    font-weight: 700;        
    padding:0 10px;
}

.grey-color{
    height: 100%;
    color: #868e96;
    font-size:24px;
    padding-top: 5px;
}

a{
    text-decoration: none;
}

p{
    margin:0;
}

ul{
    margin:0;
}

ul > li{
    padding: 10px 15px;
    /* font: 19px/23px 'Montserrat',sans-serif; */
    
}

ul > li:hover{
    background-color: #f1f1f1;
    /* font: 19px/23px 'Montserrat',sans-serif; */
    
}

li>a{
    color: #000;
    font-weight: 300;
    font: 19px/23px Montserrat,sans-serif;
}
